---
layout: default
---

<article class="page">
  {% if page.hidden == true %}
      <div class="post-hidden">
        <p class="split">This Page is Unlisted</p>
      </div>
      {% endif %}
  <h1>{{ page.title }}</h1>
  {% if page.date contains "00:00" %}
  <p class="author_title" id="lastupdated" datetime="{{ last_modified_at | date_to_xmlschema }}">{{ page.date | date: "%A, %e&nbsp;%B&nbsp;%Y" }}</p>
{% else %}
  <p class="author_title" id="lastupdated" datetime="{{ last_modified_at | date_to_xmlschema }}">{{ page.date | date: "%R" }} UTC {{ page.date | date: "%A, %e&nbsp;%B&nbsp;%Y" }}</p>
{% endif %}
<script>
let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZoneName: 'short', hour:'2-digit', minute:'2-digit'};
var last_modified_at = Date.parse("{% if page.last_modified_at %}{{ page.last_modified_at }}{% elsif page.date == Nil %}{{ site.time }}{% else %}{{ page.date }}{% endif %}").getTime();
var lm_date = new Date(last_modified_at)
var out = lm_date.toLocaleString('default', options);
document.getElementById("lastupdated").innerHTML = '{{site.author}}  ·  {% if page.last_modified_at %}Last Updated: {% endif %}'+out
</script>
  <div class="post-tags">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>
  <div class="entry">
    {{ content }}
  </div>
</article>
